<footer class="footer">
    <div class="footer-content">
        <div class="contact-info">
            <p>Contacto:</p>
            <ul>
                <li>Teléfono: +569 9955 3311</li>
                <li>Email: contacto.veranum@veranum.cl</li>
            </ul>
        </div>
        <div class="social-media">
             <p>Visita nuestras redes:</p>
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
        </div>
    </div>
    <hr> 
    <div class="copyright">
        <p>Copyright © 2024 Jordania. Todos los derechos reservados.</p>
    </div>
</footer>