/* Establecer el color de fondo de la página */
body {
    background-color: #105a10; /* Un tono de verde oscuro */
}

/* Personalizar la barra de navegación */
.navbar {
    background-color: #062406 !important; /* Verde oscuro */
    font-size: 24px; /* Tamaño de fuente más grande */
}

/* Personalizar el color de fondo de los enlaces al pasar el mouse */
.navbar-nav .nav-link:hover {
    background-color: #000000; /* Negro para contraste */
    color: rgb(255, 255, 255); /* Rojo oscuro para mayor legibilidad */
    font-size: 22px; /* Tamaño de fuente grande para los enlaces */
}

/* Estilos adicionales para mejorar la visibilidad */
.navbar-nav .nav-link {
    transition: background-color 0.3s, color 0.3s; /* Suaviza la transición de color */
    margin: 10px 15px; /* Espaciado */
    border-radius: 50px; /* Bordes redondeados */
}

/* Color de los enlaces cuando no están siendo señalados */
.navbar-nav .nav-link {
    color: rgb(255, 255, 255); /* Verde muy oscuro */
}

/* Personalizar la marca del sitio */
.navbar-brand {
    color: rgb(0, 0, 0) !important; /* Negro para destacar */
}
h1 {
    font-size: 32px; /* Tamaño de fuente para H1 */
}

h2 {
    font-size: 28px; /* Tamaño de fuente para H2 */
}

p {
    font-size: 16px; /* Tamaño de fuente para párrafos */
    color: #666; /* Color gris oscuro para el texto del párrafo */
    line-height: 1.6; /* Espaciado de línea para mejorar la legibilidad */
}
.navbar {
    display: flex;
    justify-content: center;
    width: 100%; /* Ajusta este valor si la barra no debe extenderse por todo el ancho */
}